<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h2>Sign in</h2>
      <div class="social">
        <a href="<%=omniauth_authorize_path(:user, :twitter)%>" class="zocial twitter">Sign in with Twitter</a><br/><br/>
        <a href="<%=omniauth_authorize_path(:user, :facebook)%>" class="zocial facebook">Sign in with Facebook</a><br/><br/>
      </div>
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.input :email, :autofocus => true %>
        <%= f.input :password %>
        <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
