<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BarleyBox.com" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "BarleyBox.com" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" ng-app="BarleyBox">
    <div class="stretch-background">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header" style="width: 100%;">
          <%= render 'layouts/navigation' %>
        </div>
      </div>      
    </nav>
    <%= render 'layouts/messages' %>
    <div class="content">
      <%= yield %>
      <footer>
      </footer>
    </div>
  </body>
</html>
